<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<div class="jumbotron mb-5"
     style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0) ), url('/images/omkaaij.nl_background.svg'); background-position: left center; background-repeat: no-repeat; background-size: cover;"
     th:fragment="jumbotron-home">
    <div class="container pt-5 pb-5 text-white">
        <h1><span class="display-5"><span class="text-blue">Online bank</span> | <span class="text-orange">Persoonlijke service</span></span>
        </h1>
        <p class="mb-0">BACK-END DEVELOPER.</p>
        <p>JAVA</p>
    </div>
</div>

<div class="jumbotron mb-5"
     style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0) ), url('/images/omkaaij.nl_background.svg'); background-position: left 70%; background-repeat: no-repeat; background-size: cover;"
     th:fragment="jumbotron-registration">
    <div class="container text-white">
        <h1>Klant worden</h1>
    </div>
</div>

<div class="jumbotron mb-5"
     style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0) ), url('/images/omkaaij.nl_background.svg'); background-position: left 70%; background-repeat: no-repeat; background-size: cover;"
     th:fragment="jumbotron-registration-confirmation">
    <div class="container text-white">
        <h1>Controleer je gegevens</h1>
    </div>
</div>

</html>